.icons {
  display: flex;
  justify-content: space-around;

  & svg {
    width: 27px;
    height: 27px;
    cursor: pointer;
  }
}

@media (max-width: 767.98px) {
  .icons {
    & svg {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--block-bg-color);
      border-radius: 50%;

      width: 45px;
      height: 45px;
    }
  }
}
