.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 21px 14px 21px;

  width: 100%;

  background-color: #fff;
  border-radius: 21px;

  color: rgba(71, 56, 95, 0.9);

  & > div:first-child {
    display: flex;
  }

  &__input {
    max-width: 162px;

    font-size: 17px;
  }

  &__button {
    width: 95px;
    height: 41px;
    background-color: #ad7cfe;
    border-radius: 8px;

    font-size: 22px;
    color: #fff;

    transition: all 0.3s;
  }

  &__button:hover {
    background-color: #ae7cfed7;
  }
}

@media (max-width: 767.98px) {
  .panel {
    display: block;

    &__icon {
      display: none;
    }

    & > div:first-child {
      margin-bottom: 37px;
    }
    &__input {
      margin-right: 80px;
    }

    &__searching {
      text-align: center;
    }
    &__button {
      text-align: center;
      width: 208px;
    }
  }
}
