.button {
  background-color: var(--main-btn-bg-color);
  border-radius: 9px;

  font-size: 22px;
  color: var(--white-text-color);

  padding: 4.3px 14.2px;
  transition: all 0.3s;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover-btn-color);
    }
  }
}
