@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@300..900&display=swap");

$colorTitleLight: linear-gradient(
  90deg,
  rgba(141, 82, 237, 1) 8%,
  rgba(197, 162, 240, 1) 16%,
  rgba(154, 92, 255, 1) 24%,
  rgba(141, 82, 237, 1) 54%,
  rgba(116, 60, 207, 1) 71%,
  rgba(154, 92, 255, 1) 95%,
  rgba(197, 162, 255, 1) 100%
);
$colorTextParagraphs: #45345e;
$colorTextInItems: #44335e;

.intro {
  padding-top: 322px;
  padding-bottom: 57px;
  background-color: rgba($color: #fff, $alpha: 0.5);

  border-radius: 0 0 60px 60px;
  z-index: 2;

  position: relative;

  & h1 {
    font-size: 75px;
    font-family: Kanit;
    font-weight: 800;

    text-align: center;
    background-image: $colorTitleLight;
    background-clip: text;
    color: transparent;

    margin-bottom: 164px;
  }

  &__content {
    margin: 0 auto;

    width: 895px;
    max-width: 895px;
    & h6 {
      font-size: 17px;
      font-family: Kanit;
      font-weight: 500;
      color: $colorTextParagraphs;

      margin-bottom: 20px;
    }
  }

  &__items {
    display: flex;

    margin-bottom: 20px;

    & div {
      font-family: Kanit;
      font-family: 700;

      color: $colorTextInItems;

      background-color: #fff;
      border-radius: 11px;
      padding: 12px 15px 10px 15px;

      &:not(:last-child) {
        margin-right: 7px;
      }
    }
  }

  &__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 21px 14px 21px;

    width: 100%;

    background-color: #fff;
    border-radius: 21px;

    font-family: Kanit;
    color: rgba(71, 56, 95, 0.9);
  }
}

.decor {
  width: 68px;
  height: 53px;
  background-color: #ad7cfe;
  border-radius: 8px;
}
