@import "./reset.scss";
@import "./variables.scss";

body {
  font-family: var(--kanit-font);
  font-weight: 500;
}

[class*="__container"] {
  max-width: 1166px;
  margin: 0 auto;
  padding: 0 15px;
}
