@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@300..900&display=swap");

:root {
  // background-color
  --main-bg-color: #be98fd;
  --scroll-bg-color: #f9f7ff;
  --block-bg-color: #fff;
  --block-opacity-bg-color: rgba(255, 255, 255, 0.5);

  // blocks
  --block-shadow-color: rgba(141, 82, 237, 0.6);
  --border-color: #d2d2d2;
  --pink-border-color: #c5a2ff;
  --input-border-color: #7c718c;

  //  color
  --main-text-color: #47385f;
  --secondary-text-color: #8d52ed;
  --white-text-color: #f9f7ff;
  --input-text-color: #7c718c;
  --title-text-color: linear-gradient(
    90deg,
    rgba(141, 82, 237, 1) 8%,
    rgba(197, 162, 240, 1) 16%,
    rgba(154, 92, 255, 1) 24%,
    rgba(141, 82, 237, 1) 54%,
    rgba(116, 60, 207, 1) 71%,
    rgba(154, 92, 255, 1) 95%,
    rgba(197, 162, 255, 1) 100%
  );
  --span-text-color: rgba(71, 56, 95, 0.7);

  // button color
  --main-btn-bg-color: #ad7cfe;
  --btn-bg-color: #b081fe;
  --btn-bg-active-color: #a171f1;
  --hover-btn-color: #9969e7;

  // hover color
  --hover-bg-color: #966bdc;

  // footer color
  --footer-bg-color: #47385f;

  // icon's color
  --icon-bg-color: #c5a2ff;

  // fonts
  --kanit-font: "Kanit", sans-serif;
  --poppins-font: "Poppins", sans-serif;
  --rubik-font: "Rubik", sans-serif;
}
