.form {
  padding: 0 21px;

  &_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;

    & label {
      color: var(--main-text-color);
      font-size: 15px;

      margin-bottom: 14px;
    }

    & input {
      font-size: 16px;

      border: 1px solid var(--input-border-color);
      border-radius: 9px;
     
      padding: 8px 17px;
    }
  }

  &_inputs {
    display: flex;
    justify-content: space-between;

    margin-bottom: 18px;
  }

  &_tabs {
    max-width: 142px;
    margin: 0 auto;

    &-submit {
      width: 100%;
    }

    &-cancel {
      background: none;

      margin: 14px 49.64px;

      & a {
        color: var(--main-text-color);
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
