.tabs {
  padding: 63px 0;

  max-width: 290px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  &_link {
    color: var(--dark-text-color);
    padding-bottom: 5px;

    cursor: pointer;

    &.active {
      border-bottom: 2px solid var(--pink-border-color);
    }
  }
}
