.content {
  margin: 0 auto;

  max-width: 895px;
  & h6 {
    font-size: 17px;
    font-family: Kanit;
    font-weight: 500;
    color: var(--main-text-color);

    margin-bottom: 20px;
  }
}

.items {
  display: flex;

  margin-bottom: 20px;

  & div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-radius: 11px;
    padding: 8px 14.2px;

    & p {
      font-size: 16px;
      font-weight: 400;
      color: var(--main-text-color);
    }

    &:not(:last-child) {
      margin-right: 7px;
    }
  }
}
