.no-scroll {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  z-index: 50;

  &.scroll {
    background-color: #f9f7ff;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
  }

  &__logo {
    background-color: #fff;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    z-index: 3;
  }

  &__menu-body {
    display: flex;
    column-gap: 19px;
  }

  &__list_link {
    color: #46385f;
    font-size: 17px;

    border-radius: 11px;
    padding: 8px 26px 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;

    background: linear-gradient(
      90deg,
      rgba(197, 162, 255, 1) 3%,
      rgba(154, 92, 255, 0.9010197829131653) 66%,
      rgba(141, 82, 237, 1) 100%
    );
    transition: all 0.3s;

    &:hover {
      color: #46385f;
    }
  }

  .menu-body__list {
    display: flex;
    align-items: center;
    column-gap: 20px;

    & a {
      color: #46385f;
      font-size: 17px;
    }
  }

  &__burger {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .header {
    &__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;

      & span {
        position: absolute;
        background-color: #45345e;
        left: 0;
        top: 9px;
        width: 100%;
        height: 2px;
        transition: all 0.3s;
      }

      &::before,
      &::after {
        content: "";
        background-color: #45345e;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }

      &.active span {
        transform: scale(0);
      }

      &.active::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
    }

    &__menu {
      position: fixed;
      top: 0;
      left: -100%;
      overflow: auto;
      width: 100%;
      height: 100%;
      background-color: rgba(197, 162, 255, 1);
      padding: 50px 0px 0px 0px;
      transition: all 0.3s;

      &-body {
        display: block;
        padding: 50px 20px;

        .menu-body__list {
          display: block;
          margin-bottom: 15px;

          & li:not(:last-child) {
            margin-bottom: 10px;
          }

          & a {
            font-size: 28px;
          }
        }
      }
      &.active {
        left: 0;
      }
    }

    &__list_link {
      width: 134px;
      font-size: 28px;
      background: rgb(141, 82, 237);
    }
  }
}
