.intro {
  padding-top: 322px;
  padding-bottom: 57px;
  background-color: rgba($color: #fff, $alpha: 0.5);

  border-radius: 0 0 60px 60px;
  z-index: 2;

  position: relative;

  & h1 {
    font-size: 75px;
    font-family: var(--kanit-font);
    font-weight: 800;
    color: transparent;

    text-align: center;
    background-image: var(--title-text-color);
    background-clip: text;

    margin-bottom: 164px;
  }
}

@media (max-width: 424.98px) {
  .intro {
    padding-top: 120px;
    & h1 {
      font-size: 50px;
    }
  }
}
