@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@300..900&display=swap");

$bgcForText: #47385f;
$bgcForm: #7c3fdf;
$borderGradient: linear-gradient(#c6a2ff9e, #9a5cff, #c5a2ff, #ae7cfeac);

.dialog {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;

  background-color: #ab78fe;
}
.form {
  padding: 61px 116px 58px;
  max-height: 95vh;

  border-radius: 0 0 50px 50px;
  background-color: rgba(255, 255, 255);

  &__body {
    max-width: 320px;
    margin: 0 auto;
  }
}

.tabs {
  display: flex;
  column-gap: 57px;
  justify-content: center;

  margin-bottom: 115px;

  &__button {
    position: relative;

    color: #47385f;
    font-family: Kanit;
    font-size: 17px;

    background-color: transparent;

    &.active::after {
      content: "";
      width: 100%;
      height: 3px;

      position: absolute;
      bottom: -2px;
      left: 0;

      display: block;

      background-image: linear-gradient(
        to right,
        #c6a2ff6e,
        #9b5cffd3,
        #c6a2ffae,
        #ae7cfe72
      );
    }
  }
}

.input {
  display: flex;
  flex-direction: column;

  max-width: 100%px;
  min-width: 300px;
  margin-bottom: 10px;

  color: $bgcForText;
  font-family: Kanit;
  font-size: 17px;

  & input {
    background-color: transparent;
    border: 1px solid #b081fe;
    border-radius: 13px;

    padding: 5px 15px;
    color: $bgcForText;
    font-size: 17px;
  }

  & label {
    margin-bottom: 11px;
  }

  &__withIcon {
    position: relative;
    .input {
      width: 100%;
      &.input__active {
        border-radius: 1px solid red;
      }
    }
    & div {
      position: absolute;
      top: 6px;
      right: 10px;

      width: 25px;
    }
  }
}

.button {
  margin-top: 150px;
  width: 100%;
  padding: 10px 0;
  background-color: #b081fe;
  border-radius: 36px;

  font-family: Kanit;
  color: #fff;
  font-size: 21px;

  transition: all 0.3s;
}

.button:hover {
  background-color: #9969e7;
}

.choice {
  margin-top: 29px;
  margin-bottom: 26px;

  font-family: Kanit;
  font-size: 15px;
  text-align: center;

  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 7px;

    display: block;
    width: 144px;
    height: 2px;
  }

  &::before {
    left: 0;
    background-image: linear-gradient(to right, #c6a2ff77, #c5a2ff, #9a5cff);
  }
  &::after {
    right: 0;
    background-image: linear-gradient(to left, #c6a2ff77, #c5a2ff, #9a5cff);
  }
}

.message__error {
  font-family: Kanit;
  font-size: 14px;
  text-align: center;
  color: red;
}
@media (max-width: 619.98px) {
  .form {
    padding: 30px;

    & h2 {
      font-size: 34px;
    }

    & p {
      font-size: 20px;
    }
  }

  .input {
    min-width: 0px;
  }
}

@media (max-width: 767.98px) {
  
}

@media (max-height: 762px) {
  
  .button {
    margin-top: 50px;
  }
}

@media (max-width: 424.98px) {
  .choice {
    &::before,
    &::after {
      width: 100px;
    }
  }
}
