.icons {
  display: flex;
  justify-content: space-around;
}

.messenger__icon,
.google__icon,
.facebook__icon {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .messenger__icon,
  .google__icon,
  .facebook__icon {
    background-color: #fff;
    border-radius: 50%;
  }
}
