.panel {


  & div {
    display: flex;
    align-items: center;

    & img {
      margin-right: 11px;
    }
    & p:not(:last-child) {
      margin-right: 22px;
    }
  }

  & h6 {
    margin-bottom: 14px;
    color: rgba(71, 56, 95, 0.9);
  }
}
