.map {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 60px;

  margin-top: 80px;
  padding: 55px 0;

  &__body {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
}

@media (max-width: 870.98px) {
  .map {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
